@mixin fish_settings($f-width, $f-top, $f-animation, $f-animation-time, $f-animation-time-576, $f-animation-time-992, $f-animation-time-1400) {
    width: $f-width;
    position: absolute;
    top: $f-top;
    -webkit-animation: $f-animation $f-animation-time ease-out infinite;
    -moz-animation: $f-animation $f-animation-time ease-out infinite;
    animation: $f-animation $f-animation-time ease-out infinite;
    @media(min-width: 576px) {
        -webkit-animation-duration: $f-animation-time-576;
        -moz-animation-duration: $f-animation-time-576;
        animation-duration: $f-animation-time-576;
    }
    @media(min-width: 992px) {
        -webkit-animation-duration: $f-animation-time-992;
        -moz-animation-duration: $f-animation-time-992;
        animation-duration: $f-animation-time-992;
    }
    @media(min-width: 1400px) {
        -webkit-animation-duration: $f-animation-time-1400;
        -moz-animation-duration: $f-animation-time-1400;
        animation-duration: $f-animation-time-1400;
    }
}