$header-margin: calc(3px + 1vw);
$header-without-margin: calc(100vw - ($header-margin * 2));

$logo-width: calc(18px + 3vw);

$h1-f-size: calc(10px + 3vw);

$fish-line-height: calc((100vh - 9vw) / 8);

$round-btn-circle-border-width: min(calc(2.5px + .38vw), 5.5px);

$toxic-green: rgb(0, 240, 0);
$light-green: rgb(134, 245, 134);
$green-shine: radial-gradient(rgba(0, 240, 0, .75), rgba(0, 0, 0, 0));
$pink-rose-carrot: rgb(255, 70, 105);
$creme-brulee: rgb(255, 233, 185);

$big-f-size: calc(12px + 3vw);

$media-height: 90vh;
$media-height-1200: 95vh;
$media-width: 90vw;
$media-width-1200: 95vw;

$big-bottom-wrapper-max-width: 1280px;

$input-search-width: calc(150px + 17vw);